{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}" />
        <title>Dashboard</title>
    </head>

    <body>
        <h3 id='login_text'>You've logged in as {{ request.user }}</h3>

        <form method='post' action="">{% csrf_token %}
    		<a href="{% url 'logout' %}">	
    		  <input type='button' value='Logout' />
    		</a>
            <a href="{% url 'password_change' %}">   
              <input type='button' value='Change Password' />
            </a>
    	</form>

    </body>
</html>